## Primeiros passos com fortunae

In [35]:
import fortunae as ft

### Pegando os nomes dos ativos

In [4]:
# Ações
ft.br_stocks()

0       AALR3
1       ABCB4
2       ABEV3
3       ADHM3
4       AERI3
        ...
468     WIZS3
469     WLMM3
470     WLMM4
471    WSON33
472     YDUQ3
Name: Ativos, Length: 473, dtype: object

In [8]:
# Fundos imobiliarios
ft.br_fiis()

0      ABCP11
1      AFCR11
2      AFHI11
3      AFOF11
4      AIEC11
        ...
245    XPLG11
246    XPML11
247    XPPR11
248    XPSF11
249    XTED11
Name: Ativos, Length: 250, dtype: object

### Buscando ações

In [2]:
ações = ['mglu3', 'bbas3', 'cash3']
df_ações = ft.get_stocks(ações)

Sucesso no download ativo CASH3
Sucesso no download ativo MGLU3
Sucesso no download ativo BBAS3

In [5]:
df_ações

,Ativo,Valor atual,Min. 52 semanas,Máx. 52 semanas,Valorização (12m),TOMADOR (média),DOADOR (média),Nº DE AÇÕES ALUGADAS (dia),VOLUME (dia),Nº DE CONTRATOS,...,LPA,P/SR,P/Cap. Giro,P/Ativo Circ. Liq.,Dív. líquida/PL,Dív. líquida/EBITDA,Dív. líquida/EBIT,PL/Ativos,Passivos/Ativos,Liq. corrente
0,MGLU3,7.08,5.74,26.22,71.58,1.27,1.27,16543099.0,111004194.0,745.0,...,0.11,1.32,7.27,4.44,0.02,0.14,0.24,0.36,0.64,1.49
1,BBAS3,32.49,26.45,35.24,1.12,0.12,0.12,2352948.0,76447281.0,152.0,...,6.07,0.88,1.90,0.05,0.00,0.00,0.00,0.07,0.93,13.29
2,CASH3,2.93,2.46,12.33,36.99,9.21,9.21,6689766.0,18932038.0,95.0,...,0.01,11.15,3.93,11.30,0.80,0.00,62.58,0.86,0.12,21.09

### Buscando Fundos

In [6]:
fiis = ['hglg11', 'knri11', 'bcff11']
df_fiis = ft.get_fiis(fiis)

Sucesso no download ativo KNRI11
Sucesso no download ativo HGLG11
Sucesso no download ativo BCFF11

In [7]:
df_fiis

,Ativo,Valor atual,Min. 52 semanas,Máx. 52 semanas,Valorização (12m),P/VP,Valor em caixa,Nº de Cotistas,Ano passado,Ano atual,...,Nº DE AÇÕES ALUGADAS (dia),VOLUME (dia),Nº DE CONTRATOS,,CNPJ,Nome Pregão,Ínicio do fundo,Prazo de duração,Tipo ANBIMA,Segmento ANBIMA
0,HGLG11,170.14,155.30,179.75,3.98,1.15,10.41,300134.0,0.78,0.0000,...,96.0,16269.0,10.0,,11728688/0001047,CGHG Logística,06/05/2010,Indeterminado,Renda,Logística
1,KNRI11,132.43,127.62,160.01,16.48,0.84,3.65,229978.0,0.69,0.0000,...,30.0,3986.0,7.0,,12005956/0001065,Kinea Renda Imobiliária,11/08/2010,Indeterminado,Renda,Híbrido
2,BCFF11,73.61,61.20,93.17,20.40,0.93,1.25,284472.0,0.53,0.5429,...,134.0,9769.0,17.0,,11026627/0001038,BTG Fundo de Fundos,07/01/2010,Indeterminado,Títulos e Valores Mobiliários,Títulos e Valores Mobiliários

### Gravando os resultados no mesmo arquivo excel

In [8]:
import pandas as pd

with pd.ExcelWriter('outputs.xlsx') as writer:  
    df_ações.to_excel(writer, sheet_name='acoes')
    df_fiis.to_excel(writer, sheet_name='FIIs')